body{
    background-size: 1440px;
    background-color: antiquewhite;
}

h1{
    font-size: medium;
    font-weight: 200;
    text-align: center;
}

h2{
    float: inline-start;
    font-size:75%;
    font-weight: 50;
    justify-content:center;
    text-align: center;
}

.box1{
   background-color:  hsl(47, 88%, 63%);
   background-size: cover;
   width: 1300px;
   height: 700px;
   border: 1% solid yellow;
   margin: 5px auto;
   padding-top: 50px;
}

.box2{
    background-color: hsl(0, 0%, 100%);
    width: 340px;
    height: 550px;
    border: 1px solid black; 
    border-radius: 10px;
    justify-content: center;
    margin: 50px auto;
    box-shadow: 7px 7px 0px;
}

#img1{
    width: 87%;
    height: 53%;
    margin: 0px 22px;
    border: 1px solid ;
    border-radius: 10px;
    
}
